<%
const aboutParsedBody = JSON.parse(data.about.body);
%>

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>About</title>
		<%- include('../partials/head') %>
	</head>

	<body class="bg-secondary">
		<%- include('../partials/nav') %>
		<section class="mw-xl pd-md">
			<div class="flex flex-md-column align-start gap-lg">
				<div style="flex: 1;"><img class="rd-md" src="<%= aboutParsedBody.file.location %>" alt="<%= aboutParsedBody.file.alt %>"></div>
				<div class="txt sans color white flex column gap-sm" data-lh="1.5" style="flex: 1;"><%- aboutParsedBody.about %></div>
			</div>
		</section>
		<%- include('../partials/footer') %>
	</body>

</html>