<%
const aboutParsedBody = JSON.parse(data.about.body);
%>

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>About</title>
		<%- include('../partials/head') %>
	</head>

	<body class="bg-red-950">
		<%- include('../partials/nav') %>
		<section class="max-w-[1200px] mx-auto p-8 sm:p-16">
			<div class="flex flex-col lg:flex-row gap-8 sm:gap-16">
				<div class="about-img lg:w-1/2 w-full"><img class="rounded w-full" src="<%= aboutParsedBody.file.location %>" alt="<%= aboutParsedBody.file.alt %>"></div>
				<div class="text-gray-200 leading-9 space-y-8 lg:w-1/2"><%- aboutParsedBody.about %></div>
			</div>
		</section>
		<%- include('../partials/footer') %>
	</body>

</html>