<% const blog_page_image = JSON.parse(data.blog_page.body).file %>
<% const blog_page_description = JSON.parse(data.blog_page.body).description %>

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Blog</title>
		<%- include('../partials/head') %>
	</head>

	<body class="bg-red-950">
		<%- include('../partials/nav') %>
		<% if (blog_page_image) { %>
		 <section class="w-full h-[30vh] sm:h-[500px] lg:h-[700px] max-w-[2000px] mx-auto">
			<img src="<%= blog_page_image.location %>" alt="<%= blog_page_image.alt %>" class="object-cover object-center w-full h-full">
		 </section>
		<% } %>
		<% if (data.Blogpost.length > 0) { %>					
			<section class="max-w-[1200px] mx-auto p-8 flex gap-8 flex-wrap">
				<% for( let i = 0; i < data.Blogpost.length; i++ ) { %>
					<% const post = JSON.parse(data.Blogpost[i].body) %>
					<% 
					// Date Formatting
					const date = new Date(data.Blogpost[i].date);
					const options = { year: 'numeric', month: 'long', day: 'numeric' };
					const formattedDate = date.toLocaleDateString('en-US', options);
                    %>
					<div>
						<a href="/blog/<%= post.slug %>"><img src="<%= post.file.location %>" alt="<%= post.file.alt %>" class="rounded"></a>
						<h3 class="text-white text-lg pt-1"><a href="/blog/<%= post.slug %>"><%= post.title %></a></h3>
						<p class="text-white/50 text-sm"><%= formattedDate %></p>
						<div class="text-white/50"><%- post.description %></div>
					</div>				
				<% } %>
			</section>
		<% } else { %>
			<section class="text-gray-200 text-center p-8">
				No blog posts yet...
			</section>
		<% } %>
		<%- include('../partials/footer') %>
	</body>

</html>