<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Contact</title>
  <%- include('../partials/head') %>
</head>

<body class="bg-red-950">
  <%- include('../partials/nav') %>
  <%- include('../partials/NameSplash') %>

  <!-- Tailwind -->
  <main class="max-w-[1000px] mx-auto p-8">
    <%- include('../partials/ContactHeader') %>
    <section class="flex flex-col sm:flex-row gap-8 w-full">
    <div class="sm:w-2/5 space-y-4">
      
      <img src="/img/young_bishu.jpg" alt="Young Bishu" class="w-full object-cover object-center rounded">
    </div>
    <%- include('../sections/contact_form') %>
    </section>
  </main>
</body>
</html>