<% const music_page_image = JSON.parse(data.music_page.body).file %>
<% const music_page_description = JSON.parse(data.music_page.body).description %>

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Music</title>
		<%- include('../partials/head') %>
	</head>

	<body class="bg-red-950">
		<%- include('../partials/nav') %>

		<main class="sm:flex max-w-[1200px] mx-auto">

		<% if (music_page_image) { %>
			<section class="p-6 sm:w-1/3">
			  <img src="<%= music_page_image.location %>" alt="<%= music_page_image.alt %>" class="rounded w-full max-w-[450px] mx-auto sm:pt-8">
			  <% if (music_page_description) { %>
			   <div class="text-slate-200 mt-4 space-y-4">
				<%- music_page_description %>
			   </div>
			  <% } %>
			</section>
		  <% } %>

		<section class="mw-xl p-6 flex gap-md wrap serif align-stretch music-section sm:w-2/3">
			<% data.Track.forEach(track => { %>
			<% const trackParsedBody = JSON.parse(track.body) %>
			<div>
				<div class="mb-2 text-white"><%- trackParsedBody.title %></div>
				<div><%- trackParsedBody.track %></div>
			</div>
			<% }) %>
		</section>

		</main>
		<%- include('../partials/footer') %>
	</body>

</html>