<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Music</title>
		<%- include('../partials/head') %>
	</head>

	<body class="bg-secondary">
		<%- include('../partials/nav') %>
		<section class="mw-xl pd-md flex gap-md wrap txt color white serif align-stretch music-section">
			<% data.Track.forEach(track => { %>
			<% const trackParsedBody = JSON.parse(track.body) %>
			<div>
				<div class="mg-b-sm"><%- trackParsedBody.title %></div>
				<div><%- trackParsedBody.track %></div>
			</div>
			<% }) %>
		</section>
		<%- include('../partials/footer') %>
	</body>

</html>