<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Videos</title>
		<%- include('../partials/head') %>
	</head>

	<body class="bg-secondary">
		<%- include('../partials/nav') %>
		<section class="mw-xxl pd-md flex gap-md wrap txt color white serif align-stretch">
			<% data.Video.forEach(video => { %>
			<% const videoParsedBody = JSON.parse(video.body) %>
			<div style="flex: 1 0 45%;">
				<div class="mg-b-sm"><%- videoParsedBody.title %></div>
				<div><%- videoParsedBody.video %></div>
			</div>
			<% }) %>
		</section>
		<%- include('../partials/footer') %>
	</body>

</html>