<% const video_page_image = JSON.parse(data.video_page.body).file %>
<% const video_page_description = JSON.parse(data.video_page.body).description %>

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Videos</title>
		<%- include('../partials/head') %>
	</head>

	<body class="bg-red-950">
		<%- include('../partials/nav') %>

		<main class="flex flex-col gap-16 sm:flex-row sm:p-8 max-w-[1200px] mx-auto">

			<% if (video_page_image) { %>
				<section class="sm:w-2/5 p-8 sm:p-0">
				<img src="<%= video_page_image.location %>" alt="<%= video_page_image.alt %>" class="rounded w-full sm:pt-8">
				<% if (video_page_description) { %>
					<div class="text-slate-200 mt-4">
						<%- video_page_description %>
					   </div>
				<% } %>
				</section>
			<% } %>


			<section class="text-white flex flex-col gap-16 sm:w-3/5">
				<% data.Video.forEach(video => { %>
				<% const videoParsedBody = JSON.parse(video.body) %>
				<div class="w-full">
					<div class="mb-2 font-serif px-4 sm:px-0"><%- videoParsedBody.title %></div>
					<div><%- videoParsedBody.video %></div>
				</div>
				<% }) %>
			</section>

		</main>


		<%- include('../partials/footer') %>
	</body>

</html>