<% 
const videoPageParsedBody = JSON.parse(data.video_page.body);
const image = videoPageParsedBody.file.location;
const alt = videoPageParsedBody.file.alt;
const description = videoPageParsedBody.description;
%>

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Videos</title>
		<%- include('../partials/head') %>
	</head>

	<body class="bg-red-950">
		<%- include('../partials/nav') %>
		<%- include('../partials/NameSplash') %>
		<!-- Display full width image on smaller screens -->
		<img src="<%= image %>" alt="<%= alt %>" class="w-full sm:hidden">

		<main class="flex flex-col gap-16 sm:flex-row sm:p-8 max-w-[1200px] mx-auto">

			<% if (image) { %>
				<section class="sm:w-2/5 p-8 sm:p-0">
					<!-- Display padded image on larger screens -->
					<img src="<%= image %>" alt="<%= alt %>" class="rounded w-full sm:pt-8 hidden sm:block">
					<% if (description) { %>
						<div class="text-slate-200 mt-4 space-y-4">
							<%- description %>
						</div>
					<% } %>
				</section>
			<% } %>


			<section class="text-white flex flex-col gap-16 sm:w-3/5">
				<% data.Video.forEach(video => { %>
				<%
				const videoParsedBody = JSON.parse(video.body);
				const title = videoParsedBody.title;
				const videoContent = videoParsedBody.video;
				const videoDescription = videoParsedBody.description;
				%>
				<div class="w-full space-y-4">
					<div class="font-serif px-4 sm:px-0"><%- title %></div>
					<div><%- videoContent %></div>
					<div class="text-sm text-slate-200 space-y-2 px-4 sm:px-0"><%- videoDescription %></div>
				</div>
				<% }) %>
			</section>

		</main>


	</body>

</html>