<%
const navParsedBody = JSON.parse(data.nav.body);
const aboutTitle = navParsedBody.about;
const musicTitle = navParsedBody.music;
const videosTitle = navParsedBody.videos;

const arr = [
    {title: aboutTitle, data: aboutParsedBody, href: '/about'},
    {title: musicTitle, data: music_track, href: '/music'}, 
    {title: videosTitle, data: video_track, href: '/videos'},
]
%>

<main class="max-w-[1200px] mx-auto sm:space-y-16">
    <% for( let i = 0; i < arr.length; i++ ) { %>
        <% if (arr[i].data) { %>
            <% const content = arr[i] %>
            <section class="p-4 space-y-8">                
                <a href="<%= content.href %>" class="block w-max"><h2 class="text-gold bg-red-800 uppercase py-2 px-4 text-lg font-serif rounded"><%= content.title %></h2></a>
                <div>
                    <% if (content.title === 'about') { %>
                        <%
                        const intro = content.data.intro;
                        const image = content.data.file.location;
                        const image_alt = content.data.file.alt;
                        %>
                        <div class="text-white space-y-8">
                            <%- intro %>
                        </div>
                        <div>
                            <img src="<%= image %>" alt="<%= image_alt %>">
                        </div>
                    <% } else if (content.title === musicTitle) { %>
                        <%- content.data.track %>
                    <% } else if (content.title === videosTitle) { %>
                        <%- content.data.video %>
                    <% } %>                        
                </div>
            </section>
        <% } %>
    <% } %>
</main>