<%
const arr = [
    {title: 'about', data: aboutParsedBody},
    {title: 'music', data: music_track}, 
    {title: 'videos', data: video_track}, 
    // {title: 'blog', data: blog_post}
]
%>

<main class="max-w-[1200px] mx-auto sm:space-y-16">
    <% for( let i = 0; i < arr.length; i++ ) { %>
        <% if (arr[i].data) { %>
            <% const content = arr[i] %>
            <section class="p-4 space-y-8">                
                <a href="/<%= content.title %>" class="block w-max"><h2 class="text-gold bg-red-800 uppercase py-2 px-4 text-lg font-serif rounded"><%= content.title %></h2></a>
                <div>
                    <% if (content.title === 'about') { %>
                        <%
                        const intro = content.data.intro;
                        const image = content.data.file.location;
                        const image_alt = content.data.file.alt;
                        %>
                        <div class="text-white space-y-8">
                            <%- intro %>
                        </div>
                        <div>
                            <img src="<%= image %>" alt="<%= image_alt %>">
                            <span class="text-sm text-white/50"><%= image_alt %></span>
                        </div>
                    <% } else if (content.title === 'music') { %>
                        <%- content.data.track %>
                    <% } else if (content.title === 'videos') { %>
                        <%- content.data.video %>
                    <% } else if (content.title === 'blog') { %>
                        <% 
                        // Date Formatting
                        const date = new Date(blog_post_metadata.date);
                        const options = { year: 'numeric', month: 'long', day: 'numeric' };
                        const formattedDate = date.toLocaleDateString('en-US', options);
                        %>
                        <a href="/blog/<%= content.data.slug %>"><img src="<%= content.data.file.location %>" alt="<%= content.data.file.alt %>" class="rounded"></a>
                        <h3 class="text-white text-lg pt-1"><a href="/blog/<%= content.data.slug %>"><%= content.data.title %></a></h3>
                        <p class="text-white/50 text-sm"><%= formattedDate %></p>
                        <div class="text-white/50"><%- content.data.description %></div>
                    <% } %>
                </div>
            </section>
        <% } %>
    <% } %>
</main>